{% extends 'dashboard/page.jinja2' %}

{% block title %}
    <title>{{ _('ClimMob - My private page') }}</title>
{% endblock title %}

{% block maincontent %}
    {{ _('The body goes here') }}<br/>
    {{ message }}
{% endblock maincontent %} 
