{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _('ClimMob - My private page') }}</title>
{% endblock title %}

{% block pagecontent %}
    {{ _('The body goes here') }}<br/>
    {{ message }}
{% endblock pagecontent %} 
