{% extends 'dashboard/page.jinja2' %}

{% block title %}
    <title>{{ _('My public page') }}</title>
{% endblock title %}

{% block body %}
    <h2>{{ _('My body goes here') }}</h2>
{% endblock body %}